.faqs {
    padding: 2rem;
    background-color: #FFF;
    margin-top: 200px;
    display: flex;
    gap: 24px;
    margin-bottom: 200px;
}

.faqs-header {
    margin-bottom: 2rem;

}

.faqs-header h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.faqs-header p {
    font-size: 1.2rem;
    color: #666;
}

.faqs-accordion {
    max-width: 700px;
    margin: 0 auto;
    font-family: var(--font-family);
}

.faq-item {
    border: 1px solid #e0e0e0;
    padding: 12px;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding-top: 8px;
    font-weight: 800;
}

.faq-icon {
    margin-right: 0.5rem;
    color: #6a48fa;
}

.faq-arrow {
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #666;
    padding-left: 24px;
    font-size: 1rem;
}

.faq-answer.open {
    max-height: 1000px;
    /* Ensure it is large enough to show content */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {

    .faqs {
        padding: 2rem;
        background-color: #FFF;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 24px
    }
    .faqs-header h1 {
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .faqs-header p {
        font-size: 1.2rem;
        color: #666;
        text-align: center;
    }
}